<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Establecemos la configuración del Spring MVC -->
    <import resource="config/spring-mvc.config.xml"/>

    <!-- Establecemos el paquete base donde se van a localizar los componentes anotados con Spring -->
    <context:component-scan base-package="org.oinkeep.backend.util"/>
    <context:component-scan base-package="org.oinkeep.backend.core"/>
    <context:component-scan base-package="org.oinkeep.backend.rest"/>
    <context:component-scan base-package="org.oinkeep.backend.plugin"/>
    <context:component-scan base-package="org.oinkeep.backend.boot"/>

</beans>